version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: docker/Dockerfile
    ports:
      - "80:80"
      - "443:443"
    environment:
      - LETSENCRYPT_DOMAIN=${LETSENCRYPT_DOMAIN:-none}
      - LETSENCRYPT_EMAIL=${LETSENCRYPT_EMAIL:-}
    restart: unless-stopped
